<<<<<<< HEAD
<div class="container">
  <div class="col-md-5 col-md-offset-4">
  <h1>Editing User</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
  </div>
</div>
=======
<body  >
<div class="container" style="padding-top:30px;">
  <div class="col-md-6 col-md-offset-3">


  <div class="panel panel-default">
    <div class="panel-body">
  <h1>Edit Account</h1>
      <%= render 'form' %>

    </div>
  </div>

  </div>
</div>
</body>
>>>>>>> new_styles_2
