<body>
  <div id="join-form" class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>Sign Up!</h1>
      <%= render 'form' %>
      </div>
    </div>
  </div>
</body>

<div class="col-md-6">
  <div class="panel panel-default" style="margin-top: 20px;" id="editaccount">
    <div class="panel-body">
      <h1>JOIN IN ON THE ACTION! SIGN UP TODAY!</h1>
    </div>
  </div>
</div>
