<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
=======
<div class="container">
  <div class="col-md-6 col-md-offset-3" >
    <div class="panel panel-default" style="margin-top:50px;" >
      <div class="panel-body">
      <h1>Profile:</h1>
        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>

      </div>
    </div>
  </div>
</div>
>>>>>>> new_styles_2
