<div id="landing" class="jumbotron">
 <div class="container">
   <div class="row">
     <div class="col-md-6">
       <h1 style="color:#5B1023 ; font-weight:lighter; letter-spacing:2px;">THE NEW ERA OF VIDEO CONFERENCING</h1></br></br>
        <%= link_to "Join Now", new_user_path, class: "btn btn-primary btn-lg btn-xlarge" %>
     </div>
   </div>
 </div>
</div>

<div class="row">
 <div class="container">
   <div class="col-md-4" align="center">Description</div>
   <div class="col-md-4" align="center">Description</div>
   <div class="col-md-4" align="center">Description</div>
 </div>
</div>
