<div id="landing" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 style="color:#EFECE2; font-weight:lighter; letter-spacing:2px;">THE ERA OF SHARING WHAT YOU SEE, LIVE</h1></BR></BR>

         <%= link_to "Join Now", new_user_path, class: "btn btn-primary btn-lg btn-xlarge" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">

    <div class="col-md-4" align="center">
      <div class="panel panel-default">
          <div id="panelsupport" class="panel-body">
          <img src="parisphoto.jpg" style="width:100%;">
          </div>

          <div class="panel-footer">
            <p>Lorem ipsum dolor sit amet,
               consectetur adipisicing elit, sed
               do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam
              </P>
          </div>
      </div>
    </div>



    <div class="col-md-4" align="center">
      <div class="panel panel-default">
          <div id="panelsupport" class="panel-body">
          <img src="Travel-Selfie.jpg" style="width:100%;">
          </div>

          <div class="panel-footer">
            <p>Lorem ipsum dolor sit amet,
               consectetur adipisicing elit, sed
               do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam
              </P>
          </div>
      </div>
    </div>



    <div class="col-md-4" align="center">
      <div class="panel panel-default">
          <div id="panelsupport" class="panel-body">
          <img src="birthday.jpeg" style="width:100%;">
          </div>

          <div class="panel-footer">
            <p>Lorem ipsum dolor sit amet,
               consectetur adipisicing elit, sed
               do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam
              </P>
          </div>
      </div>
    </div>

  </div>
</div>
