<div id="landing" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
            <h1>The Next Best Thing in Vlogging</h1>
             <button type="button" class="btn btn-default" id="btn-landing"><%= link_to "Join Now", new_user_path %></button>
        </div>
      </div>
    </div>

  <div class="container">
  </div>
</div>
