<div class="team">
  <h1>Our Team</h1>

    <h3>Carlos Lozano</h3>
    Github<br>
    Twitter


    <h3>Cody Condon</h3>
    Github<br>
    Twitter


    <h3>Lyna Nguyen</h3>
    Github<br>
    Twitter


    <h3>Tanner Russel-Murray</h3>
    Github<br>
    Twitter

</div>
