<div class="row">
  <div class="container">
    <h1>Our Team</h1>

  <div class="row">
    <div class="col-md-6" align="center">
      <div class="panel panel-default">
        <div id="panelsupport" class="panel-body">
          <div class="team">
            <h3 class="team">Carlos Lozano</h3>
            <h6>Product Manager</h6>
              <a href="https://profiles.bitmaker.co/students/carlos-lozano">
                <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/profile_avatar/923/large_lecharles.png" alt="Carlos" style="width:100%">
              </a>
            <p>I'm a 'Digital Business Evangelist' with 10 years of international experience. My skill set includes Creative Media Engineering, MBA & Web App Dev.</p>
            <p>I’m very excited about the Internet of Everything, Mobility, Content Marketing & Frugal Innovation. I'm thrilled by how combining these ingredients is intelligently transforming Society: this is where i want to be.</p>
            <p>P.S.: I love fromage, sailing and i laugh everyday!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" align="center">
      <div class="panel panel-default">
        <div id="panelsupport" class="panel-body">
          <div class="team">
            <h3 class="team">Cody Condon</h3>
            <h6>Full-Stack Web Developer</h6>
              <a href="https://profiles.bitmaker.co/students/cody-condon">
                <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/profile_avatar/914/large_profile3.jpg" alt="Cody" style="width:100%">
              </a>
            <p>I am here to create that stunning user experience for clients. Have over 2 years experience with HTML/CSS, and Javascript.</p>
            <p>Currently focusing on React with knowledge of Rails. Coming from a strong background of marketing, design and music.</p>
            <p>I've worked with various major record labels, teaming with their artists. Whom I met with and wrote for accordingly depending on the individuals image and perspective on music.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-6" align="center">
        <div class="panel panel-default">
          <div id="panelsupport" class="panel-body">
            <div class="team">
              <h3 class="team">Lyna Nguyen</h3>
              <h6>Front-End Web Developer</h6>
                <a href="https://profiles.bitmaker.co/students/lyna-nguyen">
                  <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/profile_avatar/928/large_lyna.jpg" alt="Lyna" style="width:100%">
                </a>
              <p>I take pride and great enjoyment in troubleshooting and taking on new challenges. A Jack-of-All-Trades from photography, coordination, video editing, marketing and more.</p>
              <p>Greatness to me is not defined as being the best; it is the knowledge and feeling of accomplishment through overcoming challenges at one's own pace.</p>
              <p>Opportunity is the key. My resume is the first step to finding the the key that fits the lock.</p>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6" align="center">
        <div class="panel panel-default">
          <div id="panelsupport" class="panel-body">
            <div class="team">
              <h3 class="team">Tanner Russel-Murray</h3>
              <h6>Back-End Web Developer</h6>
                <a href="https://profiles.bitmaker.co/students/tanner-russell-murray">
                  <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/profile_avatar/909/large__MMM0118.jpg" alt="Tanner" style="width:100%">
                </a>
              <p>Hello, I’m Tanner. I’m a problem solver by nature; I’ve always been a logical thinker with strong mathematical skills. </p>
              <p>I’m an intelligent person with an inquisitive mind that keeps well informed. My Software Engineering degree has taught me how to develop software and my Bitmaker experience has taught me how to code.</p>
              <p>When I’m not hammering out lines of code I’m probably on the golf course or watching the game.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
