<div class="row">
  <div class="container">
    <h1>Our Team</h1>

    <div class="col-md-6" align="center">
      <div class="panel panel-default">
        <div id="panelsupport" class="panel-body">
          <div class="team">
            <h3 class="team">Carlos Lozano</h3>
              <a href="https://profiles.bitmaker.co/students/carlos-lozano">
                <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/profile_avatar/923/large_lecharles.png" alt="Carlos" style="width:100%">
              </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" align="center">
      <div class="panel panel-default">
        <div id="panelsupport" class="panel-body">
          <div class="team">
            <h3 class="team">Cody Condon</h3>
              <a href="https://profiles.bitmaker.co/students/cody-condon">
                <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/profile_avatar/914/large_profile3.jpg" alt="Cody" style="width:100%">
              </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" align="center">
      <div class="panel panel-default">
        <div id="panelsupport" class="panel-body">
          <div class="team">
            <h3 class="team">Lyna Nguyen</h3>
              <a href="https://profiles.bitmaker.co/students/lyna-nguyen">
                <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/profile_avatar/928/large_lyna.jpg" alt="Lyna" style="width:100%">
              </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" align="center">
      <div class="panel panel-default">
        <div id="panelsupport" class="panel-body">
          <div class="team">
            <h3 class="team">Tanner Russel-Murray</h3>
              <a href="https://profiles.bitmaker.co/students/tanner-russell-murray">
                <img src="https://bitmakerhq.s3.amazonaws.com/alexa/production/student/profile_avatar/909/large__MMM0118.jpg" alt="Tanner" style="width:100%">
              </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
