<script type="text/javascript">
  <% if current_user %>
    var username = "<%= current_user.username %>"; // for string
    getUsername(username);// this is your function in .js file
    isCaster(<%= @sightcaster %>);
  <% end %>
</script>

<div class = "show_sightcast">

  <h1><%= @sightcast.title %></h1>
  <h3><%= @sightcast.description %></h3>

  <div class="container">
    <div class="row well">
      <div id="error" style="display:none;" class="bg-danger" >
        <h4>An error occurred:</h4>
        <div id="error-content">This is the error</div>
      </div>

      <div class="center-block" style="float:none;width:500px">
          <h4 id="connection_status">Connection Status: Connecting as Host...</h4>
      </div>
    </div>

    <div class="row well" id="create_meeting_point"  style="display:none;">
      <div class="center-block" style="float:none;width:500px">
          <h4> To create a multi-party call,  create a meetingPoint.</h4><br/>
          <button  class="center-block  btn btn-primary btn-lg" onclick="create()">Create Meeting Point</button>


      </div>
    </div>
    <div class="row well" id="host_meeting_point" style="display:none;">
      <div class="center-block" style="float:none;width:500px">

        <h4>  Now that you have created a meeting point, click host</h4>
        <button  class="center-block btn btn-primary btn-lg" onclick="host()">Host Meeting Point</button>


        <h4>To Join the conference, attendees need the meeting point id (copy and paste the number to the attendee side)</h4>
        <input class="center-block" style="width:230px" id="meeting_point_id_display" type="text"/>

      </div>
    </div>

  </div>

</div>
