/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';




body {
  background-color: #FAF9F9;
  padding-bottom: 80px;
}

textarea {
  resize: none;
}


#panelsupport {
  padding: 0px;
}


#landing {
 background:linear-gradient(
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
       ), asset-url('fontainebleau.jpg');
 background-size: cover;
 height: 550px;
}


#sightcastsindexheader a  {
 font-weight:lighter;
}

#pages-bgnd {
   background:linear-gradient(
         rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)
         ), asset-url('coastline.jpg')no-repeat center center fixed;
   background-size: cover;
   height: 100%;
}

#loginpage {
 background:asset-url('perspective.jpg')no-repeat center center fixed;
 background-size:cover;

}

#sightcast-show-link a {
  color: #F61453;
  text-decoration: none;
}

#sightcast-show-link a:hover {
  color: pink;
}

#sightcast-view-link a {
  color: pink;
  text-decoration: none;
}

#sightcast-view-link a:hover {
  color: white;
}

#sc-host-style{
  font-weight: normal;
}


#sightcastshowbody {
  background:linear-gradient(
       rgba(0,0,0,0.7),
       rgba(0,0,0,0.7)
       ), asset-url('tropical2.jpg') no-repeat center center fixed;
  background-size: cover;
}


#sightcastshowpanel h1 {
 font-weight: lighter;
 letter-spacing: 3px;
 font-size: 60px;
 color: white;
}

#sightcastshowpanel {
  padding-bottom:0px;
  background:rgba(0, 0, 0, 0.6);
  margin-top:30px;
  border:none;
}



#showaccount {
 background:linear-gradient(
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
       ), asset-url('looker.jpg');
 background-size: cover;
 height: 445px;
}

#showaccountbody {
 background:linear-gradient(
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
       ), asset-url('urban.jpg')no-repeat center center fixed;
 background-size: cover;
}

#showaccount h1 {
 color: #EFECE2;
 font-weight: lighter;
 letter-spacing: 3px;
 font-size: 60px;
}

#showaccountpanel {
  padding-bottom:0px;
  background:rgba(0, 0, 0, 0.6);
  margin-top:30px;
  border:none;
  color:white;
}



#sightcast-index-body {
 background:linear-gradient(
       rgba(0,0,0,0.3),
       rgba(0,0,0,0.3)
       ), asset-url('sunset.jpg');
 background-size: cover;
}


#sightcastpanel {
  padding-bottom:0px;
  background:rgba(0, 0, 0, 0.2);
  margin-top:30px;
  border:none;
  color:white;
}



#showaccount {
 background:linear-gradient(
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
       ), asset-url('looker.jpg');
 background-size: cover;
 height: 445px;
}

#showaccountbody {
 background:linear-gradient(
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
       ), asset-url('urban.jpg')no-repeat center center fixed;
 background-size: cover;
}



#editaccount {
 background:linear-gradient(
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
       ), asset-url('ocean.jpg');
 background-size: cover;
 height: 445px;
}

#editaccountbody {
 background:linear-gradient(
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
       ), asset-url('ocean.jpg')no-repeat center center fixed;
 background-size: cover;
}

#editaccount h1 {
 color: #EFECE2;
 font-weight: lighter;
 letter-spacing: 3px;
 font-size: 60px;
}




#loginpanel {
 background-color:rgba(0, 0, 0, 0.3);
 color:white;
 border:none;
}



#sightcastnew {
 background:linear-gradient(
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
       ), asset-url('concert.jpg');
 background-size: cover;
 height: 295px;
}

#sightcastnewbody {
 background:asset-url('concert.jpg')no-repeat center center fixed;
 background-size:cover;
}

#sightcastnewpanel {
 background-color:rgba(0, 0, 0, 0.6);
 color:white;
 border:none;
}

#sightcastnew h1 {
 color: #EFECE2;
 font-weight: lighter;
 letter-spacing: 3px;
 font-size: 55px;
}



#user-panel {
 background-color:rgba(0, 0, 0, 0.6);
 color:white;
 border:none;
}


#usershowbody {
  background:linear-gradient(
       rgba(0,0,0,0.2),
       rgba(0,0,0,0.2)
       ), asset-url('tropicallanding.jpg') no-repeat center center fixed;
  background-size: cover;
}


#user-index-background {
  background:linear-gradient(
       rgba(0,0,0,0.2),
       rgba(0,0,0,0.2)
       ), asset-url('rock.jpg') no-repeat center center fixed;
  background-size: cover;
}



#join-usernew {
 background:linear-gradient(
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
       ), asset-url('concert.jpg');
 background-size: cover;
 height: 295px;
}

#join-usernew h1 {
  color: #EFECE2;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 55px;
}


#hostpanel {
  background-color:rgba(0, 0, 0, 0.3);
  color:white;
  border:none;
  margin-top:30px;
  border:none;
}


#pagesindexpanel {
  background-color:rgba(0, 0, 0, 0.3);
  color:white;
  border:none;
}

#pagesindexpaneldark {
  background-color:rgba(0, 0, 0, 0.6);
  color:white;
  border:none;
}




#loginnew {
  background:linear-gradient(
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
       ), asset-url('perspective.jpg');
  background-size: cover;
  height: 474px;
}

#loginnew h1 {
  color: #EFECE2;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 45px;
}

#loginform {
  padding:20px;
}

#join-form {
  padding:20px;
}

#editform {
  padding:20px;
}

#sightcastnewform {
  padding:20px;
}



#sightcastnav {
  background-color:#FF0048 ;
  opacity:0.8;
  border-radius:5px;
}

#sightcastnav:hover {
  opacity:0.8;
  background-color:#ed0744 ;
}

#sightcastnav a {
  color:white;
}


.navbar {
  padding:0px;
  margin-bottom:0px;
  background-color: white;
}

.navbar-brand img {
  height: 40px;
}

.navbar-brand {
  padding: 4px;
}


.btn-xlarge {
  font-size: 1.7em;
  background-color:#FF0048 ;
  color:#EFECE2 ;
  font-family:sans-serif;
  letter-spacing: 1px;
  font-weight:lighter;
  border:1px solid #FF336C;
}

.btn-xlarge:hover {
  color:#EFECE2 ;
  background-color:#B13756 ;
}

#sightcastwaitdiv {
  background:linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)
    );
  height:370px;
  border:none;
  position:relative;
  top:-430px;
}


#usersignuppanel {
  background:rgba(0, 0, 0, 0.6);
  color:white;
  border:none;
}

#usersignupbody {
  background:asset-url('looker.jpg') no-repeat center center fixed;
  background-size:cover;
}

#sightcastwaitdiv h1 {
  color: #EFECE2;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 70px;
}

#sightcastbutton {
  background-color:#FF336C ;
  color: white;
  letter-spacing: 1px;
  border: 1px solid #FF336C;
  padding:10px 15px;
  font-weight:lighter;
}

#usernamenav a {
  color:#FF336C;
}

#sightcastbutton-sm {
  background-color:#FF336C ;
  color: white;
  letter-spacing: 1px;
  border: 1px solid #FF336C;
  padding: 1px 2px;
}

.control-button {
  background-color:rgba(0, 0, 0, 0.3) ;
  color: white;
  letter-spacing: 1px;
  border: none;
  padding:10px 15px;
}

.control-button:hover {
 background-color:rgba(0, 0, 0, 0.5) ;

}


#sightcastbutton:hover {
  background-color:#ed0744 ;
}

#camera_people {
 margin-top:30px;
}


.footer {
  background-color: #FFFFFF;
  margin-top: 40px;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 40px;
}

.footer a {
 color: #F60448;
}



// this is for video
#video-container {
   width: 640px;
   height: 360px;
   border: 3px solid white;
   background: #0074bc;
   margin: 0 auto;
   border-radius:5px;
   margin-bottom: 65px;
   margin-top:35px;
   display:block;
   -webkit-box-shadow: 0px 0px 39px 0px rgba(148,148,148,1);
   -moz-box-shadow: 0px 0px 39px 0px rgba(148,148,148,1);
   box-shadow: 0px 0px 39px 0px rgba(148,148,148,1);
   z-index:0;

 }

#vmjpeg_dest {
   position:relative;
   bottom:42px;
 }
//
#vmjpeg_dest {
   width: 640px;
   height: 360px;
   border: 2px solid white;
  //  background: #0074bc;
   margin-top: 20px;
   margin: 0 auto;
   border-radius:5px;
   margin-bottom: 65px;
   margin-top:35px;
  position:absolute;
  display:none;
  z-index:1;
   -webkit-box-shadow: 0px 0px 39px 0px rgba(148,148,148,1);
   -moz-box-shadow: 0px 0px 39px 0px rgba(148,148,148,1);
   box-shadow: 0px 0px 39px 0px rgba(148,148,148,1);
}


.navbar-toggle.collapsed {
 .top-bar {
    transform: rotate(0);
    background-color: #FF0048;
 }
 .middle-bar {
   opacity: 1;
   background-color: #FF0048;
 }
 .bottom-bar {
   transform: rotate(0);
   background-color: #FF0048;
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

@font-face {
    font-family: 'si';
    src: url('PATH_TO/socicon.eot');
    src: url('PATH_TO/socicon.eot?#iefix') format('embedded-opentype'),
         url('PATH_TO/socicon.woff') format('woff'),
         url('PATH_TO/socicon.ttf') format('truetype'),
         url('PATH_TO/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
  }
