<body id="loginpage">
  <div id="loginform" class="col-md-6 col-md-offset-3">
      <div id="loginpanel" class="panel panel-default">
        <div class="panel-body">
        <h1>Login</h1>
        <%= render 'form' %>

      </div>

      <div  id="loginpanel"class="panel-footer">
        <h1>Forgot Password?</h1>
        <%= render 'forgot_password_form' %>
      </div>
    </div>

  </div>

</body>
