<body >
  <div id="loginform" class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
        <h1>Login</h1>
        <%= render 'form' %>
        <%= link_to 'Back', user_sessions_path %>
      </div>

      <div class="panel-footer">
        <h1>Forgot Password?</h1>
        <%= render 'forgot_password_form' %>
      </div>
    </div>

  </div>
</div>
</body>


<div class="col-md-6">
  <div class="panel panel-default" style="margin-top: 20px" id="loginnew">
    <div class="panel-body">
      <h1>SEE FROM DIFFERENT PERSPECTIVES</h1>
    </div>
  </div>
</div>
