<div class="footer">
  <div class="container">
    <div class="col-md-4" align="center"><%= link_to "Our Team", pages_team_path, class: "textlink" %></div>
    <div class="col-md-4" align="center"><%= link_to "Github Project", "https://github.com/lecharles/sightcast", class: "textlink" %></div>
    <div class="col-md-4" align="center"><%= mail_to "mailto:sightcastteam@gmail.com", "Contact SightCast Team", class: "textlink" %></div>
  </div>
</div>
