<div class="row">
  <div class="footer">
    <div class="container">
      <div class="col-md-4" align="center"><%= link_to "Our Team", pages_team_path, class: "textlink" %></div>
      <div class="col-md-4" align="center">Info</div>
      <div class="col-md-4" align="center"><a href="mailto:sightcastteam@gmail.com" class="textlink">Contact SightCast Team</a></div>
    </div>
  </div>
</div>
